.f-s-5 {
  font-size: 0.5rem;
}

.f-s-6 {
  font-size: 0.6rem;
}

.f-s-7 {
  font-size: 0.7rem;
}

.f-s-8 {
  font-size: 0.8rem;
}

.f-s-9 {
  font-size: 0.9rem;
}

.f-s-10 {
  font-size: 1rem;
}

.f-s-11 {
  font-size: 1.1rem;
}

.f-s-12 {
  font-size: 1.2rem;
}

.f-s-13 {
  font-size: 1.3rem;
}

.f-s-14 {
  font-size: 1.4rem;
}

.f-s-15 {
  font-size: 1.5rem;
}

.f-s-16 {
  font-size: 1.6rem;
}

.f-s-17 {
  font-size: 1.7rem;
}

.f-s-18 {
  font-size: 1.8rem;
}

.f-s-19 {
  font-size: 1.9rem;
}

.f-s-20 {
  font-size: 2rem;
}

.f-s-21 {
  font-size: 2.1rem;
}

.f-s-22 {
  font-size: 2.2rem;
}

.f-s-23 {
  font-size: 2.3rem;
}

.f-s-24 {
  font-size: 2.4rem;
}

.f-s-25 {
  font-size: 2.5rem;
}

.f-s-26 {
  font-size: 2.6rem;
}

.f-s-27 {
  font-size: 2.7rem;
}

.f-s-28 {
  font-size: 2.8rem;
}

.f-s-29 {
  font-size: 2.9rem;
}

.f-s-30 {
  font-size: 3.0rem;
}

.f-s-31 {
  font-size: 3.1rem;
}

.f-s-32 {
  font-size: 3.2rem;
}

.f-s-33 {
  font-size: 3.3rem;
}

.f-s-34 {
  font-size: 3.4rem;
}

.f-s-35 {
  font-size: 3.5rem;
}

.f-s-36 {
  font-size: 3.6rem;
}

.f-s-37 {
  font-size: 3.7rem;
}

.f-s-38 {
  font-size: 3.8rem;
}

.f-s-39 {
  font-size: 3.9rem;
}

.f-s-40 {
  font-size: 4.0rem;
}

.f-s-41 {
  font-size: 4.1rem;
}

.f-s-42 {
  font-size: 4.2rem;
}

.f-s-43 {
  font-size: 4.3rem;
}

.f-s-44 {
  font-size: 4.4rem;
}

.f-s-45 {
  font-size: 4.5rem;
}

.f-s-46 {
  font-size: 4.6rem;
}

.f-s-47 {
  font-size: 4.7rem;
}

.f-s-48 {
  font-size: 4.8rem;
}

.f-s-49 {
  font-size: 4.9rem;
}

.f-s-50 {
  font-size: 5rem;
}

.para {
  line-height: 30px !important;
  font-size: 0.95rem;
}

.para--blue {
  color: #002347 !important;
}

.para--white {
  color: #fff !important;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.title--blue {
  color: #002347 !important;
}

.title--white {
  color: #fff !important;
}

.header .logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #faee1c;
  font-size: 3rem;
  display: flex;
  align-items: flex-end;
  line-height: 45px;
  transform: scaleY(1.2);
}

.header .my-nav li:not(:last-child) {
  margin-right: 3rem;
}

.header .my-nav li a {
  font-family: 'Roboto', sans-serif;
}

.hero {
  height: 100vh;
  background-color: #EBE5E9;
  background-image: url(../img/home-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero button {
  font-size: 0.8rem !important;
}

.courses {
  background-color: #F8F9FA;
}

.courses .fa {
  color: #000000 !important;
  font-size: 1rem;
}

.courses .card {
  overflow: hidden;
}

.courses .card img {
  transition: all 0.3s ease-in-out;
}

.courses .card:hover img {
  transform: scale(1.1);
}

.register {
  background-color: #002347;
}

.register p {
  color: #fff;
}

.register h3 {
  color: #002347;
}

.events {
  background-color: #002347 !important;
}

.events__container img {
  transition: all 0.3s linear;
}

.events__container:hover img {
  transform: scale(1.1);
}

.events__info {
  width: 50%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute !important;
  right: 0;
  top: 0;
}

.events__info div {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
  color: #fff;
}

.events__info div i {
  font-style: normal !important;
}

.events__info div p:first-child {
  border-right: 2px solid #fff;
  padding-right: 1rem;
}

.events__info div p:first-child i {
  line-height: 1;
}

.events__info div p:last-child span {
  display: block;
}

.about .item {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: min-content min-content;
  gap: 0rem 2rem;
}

.about .item img {
  grid-column: 1/2;
  grid-row: 1/-1;
}

.about .item h5 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.about .item p {
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer {
  padding: 7rem 0;
  background-color: #002347;
}

.footer h4 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  margin-bottom: 0.7rem;
}

.footer ul li a {
  text-decoration: none;
  color: #777777;
  font-weight: bold;
}

.footer span {
  color: #777777;
  display: inline-block;
  margin-bottom: 2rem;
}

.footer span i {
  font-size: 2rem;
  color: #f4f4f4;
  display: inline-block;
  margin-left: 1rem;
}

.footer input {
  padding: 10px 10px;
  background-color: #f4f4f4;
  border: 0;
}

.footer button {
  font-size: 13px !important;
  height: 35px;
  margin-left: -10px;
}

.footer p {
  color: #f4f4f4;
}
