.about {

	.item {
		display: grid;
		grid-template-columns: 10rem 1fr;
		grid-template-rows: min-content min-content;
		gap: 0rem 2rem;

		img {
			grid-column: 1/2;
			grid-row: 1/-1;
		}

		h5 {
			grid-column: 2/3;
			grid-row: 1/2;
		}

		p {
			grid-column: 2/3;
			grid-row: 2/3;
		}
	}
}