.events {
	background-color: #002347 !important;

	&__container {

		img {
			transition: all 0.3s linear;
		}

		&:hover img {
			transform: scale(1.1);
		}

	}

	&__info {
		width: 50%;
		padding: 1rem;
		background-color: rgba(0, 0, 0, 0.3);

		position: absolute !important;
		right: 0;
		top: 0;

		div {
			display: grid;
			grid-template-columns: max-content 1fr;
			gap: 1rem;
			color: #fff;

			i {
				font-style: normal !important;
			}

			p {
				&:first-child {
					border-right: 2px solid #fff;
					padding-right: 1rem;

					i {
						line-height: 1;
					}
				}

				&:last-child {
					span {
						display: block;

						i {}
					}
				}
			}
		}
	}
}